.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}
.btn.btn-default{
    color: #6C63FF;
    background-color: #FFFF;
    margin: 5vh;
}
.display-6.row-5.title{
    text-align: center;
}
label{
    color: #56628B;
    margin-top: 1vh;
}
.form-inline{
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.container-md{
    display: flex;
    justify-content: center;
}
.btn.btn-default.add{
    background-color: #6C63FF;
    color: #FFFF;
}