body{
    background-color: #6C63FF;  
    color: #FFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    display: flex;
    width: 50vh;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.btn.btn-default{
    color: #6C63FF;
    background-color: #FFFF;
    margin: 5vh;
}
.display-6.row-5.title{
    text-align: center;
}
a{
    all: unset;
    transition: 0.6s;
}
a:hover{
    cursor: pointer;
    transition: 0.6s;
}